.wrapper {
    width: 60%;
    margin: 0 auto;
}
#input {
    width: 100%;
}

#log {
    height: 80vh;
    width: 100%;
    overflow: scroll;
	color: lime;
	font-size: x-large;
    background-color: black;
	font-family: monospace;
    white-space: pre;
}

.graph {
	display: flex;
    flex-direction: row;
}

.data {
	display: flex;
    flex-direction: column;
	font-size: x-large;
    background-color: lightgrey;
	font-family: monospace;
    white-space: pre;
}

.line {
	display: flex;
    flex-direction: row;
}

#error {
	color: crimson;
	background-color: lightpink;
}

.hidden {
    display: none;
}
